header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 50px;
  padding: 0.3rem;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  
  img {
    height: 60px;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    display: none;
  }
  header {
    grid-template-columns: 1fr 1fr;
  }
  .search {
    padding: 1rem;
  }
}

.search {
  display: grid;
  grid-template-columns: 4fr 1fr;
  input {
    height: 50px;
    border: none;
    border-radius: 5px;
    padding: 0 0.7rem;
    font-size: 1.2rem;
    background-color: #f5f5f5;
    color: #333;
    &:focus{
      outline: none;
    }
  }
  button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all .5s;
    font-size: 1rem;
    background: none;
    &:hover {
        cursor: pointer;
        background: #f5f5f5;
    }


  }
}

.cart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    img {
      height: 30px;
      cursor: pointer;
    }
  span {
    position: absolute;
    transform: translateX(8px);
    font-size: .9rem;
    line-height: 0;
    font-weight: bold;
    color: rgb(0, 0, 0);
    padding: 1em 0.7em;
    border-radius: 100vh;
    background-color: #ff5a5f;
    margin-left: 20px;
    margin-bottom: 40px;
  }


}


